<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.klasifikasimakhlukhidup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KlasifikasiMakhlukHidup">
        <activity android:name="hewanberulangbelakang.reptilia"></activity>
        <activity android:name="hewanberulangbelakang.pisces" />
        <activity android:name="hewanberulangbelakang.ampibhia" />
        <activity android:name="hewanberulangbelakang.aves" />
        <activity android:name="hewanberulangbelakang.mamalia" />
        <activity android:name=".hewantakbertulangbelakang.COELENTERATA" />
        <activity android:name=".hewantakbertulangbelakang.porifera" />
        <activity android:name=".hewantakbertulangbelakang.platyhelminthes" />
        <activity android:name=".hewantakbertulangbelakang.nematoda" />
        <activity android:name=".hewantakbertulangbelakang.annelid" />
        <activity android:name=".hewantakbertulangbelakang.arthropoda" />
        <activity android:name=".hewantakbertulangbelakang.echinodermata" />
        <activity android:name=".hewantakbertulangbelakang.mollusca" />
        <activity android:name=".kingdommonera" />
        <activity android:name=".contoh5kindom.paku.PakuEkorKuda" />
        <activity android:name=".contoh5kindom.paku.PakuKawat" />
        <activity android:name=".contoh5kindom.paku.PakuTelanjang" />
        <activity android:name=".contoh5kindom.paku.PakuSejati" />
        <activity android:name=".contoh5kindom.monokotil.RumputRumputan" />
        <activity android:name=".contoh5kindom.monokotil.BawangBawangan" />
        <activity android:name=".contoh5kindom.monokotil.PinangPinangan" />
        <activity android:name=".contoh5kindom.monokotil.PisangPisangan" />
        <activity android:name=".contoh5kindom.dikotil.GetahGetahan" />
        <activity android:name=".contoh5kindom.dikotil.TerungTerungan" />
        <activity android:name=".contoh5kindom.dikotil.KacangKacangan" />
        <activity android:name=".contoh5kindom.Deutero" />
        <activity android:name=".contoh5kindom.Zigo" />
        <activity android:name=".contoh5kindom.Basidio" />
        <activity android:name=".contoh5kindom.Ascomycotina" />
        <activity android:name=".contoh5kindom.ProtistaMiripJamur" />
        <activity android:name=".contoh5kindom.Alga" />
        <activity android:name=".contoh5kindom.Protozoa" />
        <activity android:name=".perkembangansistemklasifikasi.PerkembanganSistemKlasifikasi" />
        <activity android:name=".klasifikasimh.UrutanTaksonHewanDanTumbuhan" />
        <activity android:name=".klasifikasimh.PengelompokDikotom" />
        <activity android:name=".klasifikasimh.TataCaraPemberian" />
        <activity android:name=".klasifikasimh.ManfaatDanKlasifikasi" />
        <activity android:name=".klasifikasimh.TahapanKlasifikasi" />
        <activity android:name=".klasifikasimh.PengertianKlasifikasiMh" />
        <activity android:name=".ContohMh" />
        <activity android:name=".Perbedaan_MakhlukHidup" />
        <activity android:name=".cirimh.Beradaptasi" />
        <activity android:name=".cirimh.BerkembangBiak" />
        <activity android:name=".cirimh.Ekspresi" />
        <activity android:name=".cirimh.Tumbuh" />
        <activity android:name=".cirimh.Bernapas" />
        <activity android:name=".cirimh.Iritabilitas" />
        <activity android:name=".cirimh.Makan" />
        <activity android:name=".cirimh.bergerak" />
        <activity android:name=".hal10_menumateri" />
        <activity android:name=".cirimh.hal12_ciricirimakhlukhidup" />
        <activity android:name=".hal11_pengertianmakhlukhidup" />
        <activity android:name=".hal5_petakonsep" />
        <activity android:name=".hal4_tujuanpembelajaran" />
        <activity android:name=".hal4_indikator" />
        <activity android:name=".hal4_kompetensidasar" />
        <activity android:name=".hal4_kompetensiinti" />
        <activity android:name=".hal4_menukompetensi" />
        <activity android:name=".hal2_menuutama" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>